    /* Reset default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #52d326;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #68774f;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #999;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  